<%- include('partials/_header'); %>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/addDisco" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="id" id="id" placeholder="Id disco">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Título disco">
            </div>
            <div class="form-group">
              <select class="form-select form-control" aria-label="selector" name="interpreteId" id="interpreteId">
                <option selected>Selecciona el intérprete</option>
                <option value="61b0e8cddb816d003c21be39">Aerosmith</option>
                <option value="61b0fbc915d4fa4c881476e4">The Alan Parsons project</option>
                <option value="61b11293b637d858f8899a3e">Albert Collins</option>
                <option value="61b255deda26d42ca4251150">Al Di Meola</option>
                <option value="61b25fd1da26d42ca42511c6">Alice Cooper</option>
                <option value="61b3a362e10b595304193785">The Allman brothers band</option>
                <option value="61b3abe9e10b59530419380d">Al Stewart</option>
                <option value="61b3b487e10b595304193876">Alvin Lee</option>
                <option value="61b4fa045f26ad43942ebccb">Amaral</option>
                <option value="61b5006e5f26ad43942ebd48">America</option>
                <option value="61b631f46f89aa609c17cf74">The Animals</option>
                <option value="61b63bee6f89aa609c17cfb9">Annie Lennox</option>
                <option value="61b641626f89aa609c17cff4">Antonio Flores</option>
                <option value="61b778005106a94168d97d97">Antonio Vega</option>
                <option value="61b7927c5106a94168d97eea">Asfalto</option>
                <option value="61b9026748ce5e073c9495a5">Bad Company</option>
                <option value="61b912a248ce5e073c9495ef">The Band</option>
                <option value="61b9c0fd48ce5e073c9496c0">B.B. King</option>
                <option value="61b9c6f948ce5e073c9496fb">B.B. King & Eric Clapton</option>
                <option value="61b9cd7b48ce5e073c949721">Bebo Valdés & El Cigala</option>
                <option value="61af953f311b5222f4c7a504">Billie Holiday</option>
                <option value="61b9d64648ce5e073c94976b">Billy Joel</option>
                <option value="61b9df5f48ce5e073c9497e1">Blind Faith</option>
                <option value="61b9e77c48ce5e073c949862">Blur</option>
                <option value="61b9ec17f8f0d47530fa7122">Bob Dylan</option>
                <option value="61bb8c5c38aaf60714ae3e32">Bob Seger</option>
                <option value="61bb960938aaf60714ae3e9f">Bruce Springsteen</option>
                <option value="61bb910a38aaf60714ae3e79">Bryan Ferry</option>
                <option value="61bcdd01463d4618349f4a26">Buffalo Springfield</option>
                <option value="61bce1ff463d4618349f4a4c">Burning</option>
                <option value="61af58997e74e658a45ddd4d">Camel</option>
                <option value="61c3669769301f3790e2ed9a">Canned Heat</option>
                <option value="61c369a369301f3790e2edbe">The Cars</option>
                <option value="61c36dd669301f3790e2ede7">Cat Stevens</option>
                <option value="61c3706869301f3790e2ee0b">The Clash</option>
                <option value="61c3776869301f3790e2ee4a">Cold Play</option>
                <option value="61c4c2a7e3781f25843c398a">The Corrs</option>
                <option value="61c4c7dc56f12424dcf08814">The Cranberries</option>
                <option value="61c4cdc8d7905c0c483e9087">Cream</option>
                <option value="61c4d0ddd7905c0c483e90ad">Creedence Clearwater Revival</option>
                <option value="61c7654841c95413b0fc1ed3">David Bowie</option>
                <option value="61c7684b41c95413b0fc1f2a">Deep Purple</option>
                <option value="61c89b70ca34c93becf02b0f">Dire Straits</option>
                <option value="61c8aa17ca34c93becf02bde">The Doobie Brothers</option>
                <option value="61c9b7c26f39db1a385567f5">The Doors</option>
                <option value="61c9bf196f39db1a38556851">Eagles</option>
                <option value="61ca14d76f39db1a385568ff">E.L.O.</option>
                <option value="61ca17e46f39db1a38556955">Emerson, Lake & Palmer</option>
                <option value="61ca1afc6f39db1a3855697f">Enrique Urquijo y Los Problemas</option>
                <option value="61ca1ead6f39db1a385569a9">Enya</option>
                <option value="61cb649c8f4f293d7813d910">Eric Clapton</option>
                <option value="61cc379da80a7026a0187846">Estopa</option>
                <option value="61cc3ed5a80a7026a018789d">Eurythmics</option>
                <option value="61cc413fa80a7026a01878b8">Fito & Fitipaldis</option>
                <option value="61cc46eca80a7026a01878f9">Fleetwood Mac</option>
                <option value="61cc7acda80a7026a01879e5">Gary Moore</option>
                <option value="61ce02299932391a840d9588">Génesis</option>
                <option value="61d32a9757d39e4768992504">George Benson</option>
                <option value="61d3436557d39e4768992636">Golpes Bajos</option>
                <option value="61d33a9857d39e47689925fc">Gotan project</option>
                <option value="61d572646a47f10e48978c45">Green Day</option>
                <option value="61d57bb06a47f10e48978cc6">Iceberg</option>
                <option value="61d58fa36a47f10e48978d04">Ilegales</option>
                <option value="61d74618a1c8c34e7836226e">The J. Geils Band</option>
                <option value="61db3107cf208d3cb021da9e">J. J. Cale</option>
                <option value="61d59c916a47f10e48978dc3">Jackson Browne</option>
                <option value="61d5b14a6a47f10e48978df0">Janis Joplin</option>
                <option value="61af7f30311b5222f4c7a3b7">Javier Krahe</option>
                <option value="61d5cd126a47f10e48978e3b">Jeff Beck</option>
                <option value="61d5d52a6a47f10e48978eb3">Jethro Tull</option>
                <option value="61d74937a1c8c34e783622ac">Jimi Hendrix</option>
                <option value="61db302acf208d3cb021da99">Jimmy Page</option>
                <option value="61dc6d1bde516d4e2c36b4fb">Joan Manuel Serrat</option>
                <option value="61db3247cf208d3cb021daa3">Joaquín Sabina</option>
                <option value="61dc31a7de516d4e2c36b481">Joaquín Sabina & Joan Manuel Serrat</option>
                <option value="61dea7fa1a4d0120804097b0">Joe Cocker</option>
                <option value="61deaaff1a4d0120804097c1">John Cougar</option>
                <option value="61deb61f1a4d012080409819">Johnny Winter</option>
                <option value="61deb97b1a4d01208040983d">Joni Mitchell</option>
                <option value="61debc8b1a4d012080409858">Kenny G</option>
                <option value="61dec0961a4d012080409879">Kiko Veneno</option>
                <option value="61dec8911a4d0120804098d7">King Crimson</option>
                <option value="61e07b399b35fc3394949a25">Led Zeppelin</option>
                <option value="61e07bd69b35fc3394949a2a">Leño</option>
                <option value="61e31c6a1290aa1ae0e3d7b9">Little Feat</option>
                <option value="61e4555e6ae7932338bfca2b">Lou Reed</option>
                <option value="61e321361290aa1ae0e3d7d7">Louis Armstrong</option>
                <option value="61e456606ae7932338bfca30">Lynyrd Skynyrd</option>
                <option value="61e5a54da3d6341b6c418583">Madredeus</option>
                <option value="61e5af3da3d6341b6c418609">The Mamas & The Papas</option>
                <option value="61cc3c53a80a7026a0187882">Maná</option>
                <option value="61e5c5a6503857203c53e5c1">La Mandrágora</option>
                <option value="61ae17580aee8f50bc490cf1">Manolo Tena</option>
                <option value="61e70a0a4f90761d249c3615">Mano Negra</option>
                <option value="61e70b2b4f90761d249c361d">Manu Chao</option>
                <option value="61e70bfb4f90761d249c3622">Mark Knopfler</option>
                <option value="61e7e731848d080a34b63714">Mecano</option>
                <option value="61e7e8b2848d080a34b63719">Melendi</option>
                <option value="61e7e9fc848d080a34b6371e">Michael Schenker Group</option>
                <option value="61e84efe91a04a132cb1b224">Miguel Ríos</option>
                <option value="61e8501891a04a132cb1b229">Mike Oldfield</option>
                <option value="61e850ce91a04a132cb1b22e">Miles Davis</option>
                <option value="61e851d391a04a132cb1b233">Molotov</option>
                <option value="61e852a791a04a132cb1b238">Mozart</option>
                <option value="61e9931d6932cb36fc1c246f">Muddy Waters</option>
                <option value="61e993bf6932cb36fc1c2474">Nacha Pop</option>
                <option value="61e994d96932cb36fc1c2479">Neil Young</option>
                <option value="61e997d86932cb36fc1c247e">Nirvana</option>
                <option value="61ae5e500aee8f50bc490f8c">Norah Jones</option>
                <option value="61eb09c4bc6e8e3d1422888e">Oasis</option>
                <option value="61eb0abbbc6e8e3d14228893">Paco de Lucía</option>
                <option value="61eda62b5d62ce30301593c5">Pata Negra</option>
                <option value="61eda7785d62ce30301593ca">Pat Metheny</option>
                <option value="61eda86b5d62ce30301593cf">Patti Smith</option>
                <option value="61eda9295d62ce30301593d4">Pereza</option>
                <option value="61eea902affe5138f4b56739">Peter Frampton</option>
                <option value="61eeaa50affe5138f4b5673e">Peter Gabriel</option>
                <option value="61eeab97affe5138f4b56743">Phil Collins</option>
                <option value="61eef2795e94610498b617a9">Pink Floyd</option>
                <option value="61eef3d25e94610498b617ae">The Police</option>
                <option value="61f1323b7813c3476c3bccbe">Presuntos Implicados</option>
                <option value="61f1332a7813c3476c3bcccf">The Pretenders</option>
                <option value="61f134877813c3476c3bccd4">Queen</option>
                <option value="61f197df513bef4604380b62">Radio Futura</option>
                <option value="61f198c0513bef4604380b67">Raimundo Amador</option>
                <option value="61f2f25003326021f01ae1d1">Rainbow</option>
                <option value="61f2f31d03326021f01ae1d6">R.E.M.</option>
                <option value="61f43882f4a6654d2424ad08">Revólver</option>
                <option value="61f43980f4a6654d2424ad0d">Robin Trower</option>
                <option value="61f43a60f4a6654d2424ad12">Rod Stewart</option>
                <option value="61f58e38a7ca892138647eb3">Los Rodríguez</option>
                <option value="61f58fc5a7ca892138647eb8">The Rolling Stones</option>
                <option value="61f6d206bbcaa82524207440">Rosendo</option>
                <option value="61f6d2dcbbcaa82524207445">Roxy Music</option>
                <option value="61f7e0158e34ef367c6ccf7e">Ryan Adams</option>
                <option value="61f7e1158e34ef367c6ccf83">Sade</option>
                <option value="61f7e1d48e34ef367c6ccf88">Sam Cooke</option>
                <option value="61f7e31a8e34ef367c6ccf8d">Santana</option>
                <option value="61f98b9607db7c4c5c6092f6">Los Secretos</option>
                <option value="61f98ccb07db7c4c5c6092ff">Steely Dan</option>
                <option value="61f98dc207db7c4c5c609304">Stephen Stills</option>
                <option value="61fa69363412dc471c68c38e">Steve Winwood</option>
                <option value="61fa6a283412dc471c68c393">Stevie Ray Vaughan</option>
                <option value="61fab8d23412dc471c68c430">Stevie Wonder</option>
                <option value="61fab9c33412dc471c68c435">Sting</option>
                <option value="61fac8623412dc471c68c508">Supertramp</option>
                <option value="61fac9693412dc471c68c50d">Ted Nugent</option>
                <option value="61fc2fa1176e405ae8c3105a">Ten Years After</option>
                <option value="61fc307b176e405ae8c3105f">Texas</option>
                <option value="61fe5be818d0ef30f878bdc1">Texas Lightning</option>
                <option value="61fe5d6618d0ef30f878bdc6">Tina Turner</option>
                <option value="61fe5e6218d0ef30f878bdcb">Tom Petty and The Heartbreakers</option>
                <option value="61fe5fa218d0ef30f878bdd0">Tom Waits</option>
                <option value="61fe609018d0ef30f878bdd5">Topo</option>
                <option value="61fec408620ebb32b0ff3cbc">Toto</option>
                <option value="61b9e26d48ce5e073c949819">Traffic</option>
                <option value="61fec4f6620ebb32b0ff3cc1">Triana</option>
                <option value="61fec614620ebb32b0ff3cc6">U2</option>
                <option value="61ffa05771778c4bfc1ffb2f">La Unión</option>
                <option value="61ffa12b71778c4bfc1ffb34">Van Halen</option>
                <option value="61ffa2bb71778c4bfc1ffb3d">Van Morrison</option>
                <option value="61ffc35871778c4bfc1ffcdc">Varios</option>
                <option value="62001ff01c92f7580473919b">The Who</option>
                <option value="62011abbdc6a7b59280b86f8">The Yardbirds</option>
                <option value="62011bcddc6a7b59280b86fd">Yes</option>
                <option value="62011c9bdc6a7b59280b8702">ZZ Top</option>
              </select>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="anyo" id="anyo" placeholder="Año">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="caratula" id="caratula" placeholder="Carátula del disco">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="info" name="info" cols="80"
                placeholder="Información del disco"
                ></textarea>
            </div>
            <button class="btn btn-primary btn-block" type="submit">
              Añadir
            </button>
          </form>
        </div>
      </div>
      <div class="card-body">
        <a href="/discos?page=0" class="btn btn-warning">
          Volver
        </a>
      </div>
    </div>
</div>
<script>
  document.getElementById('id').focus()
 </script>
<%- include('partials/_footer'); %>