<%- include('partials/_header'); %>
<div class="container" id="indice">
  <div class="row">
    <div class="col-md-7 offset-md-3">
      <div class="card indice">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <a href="/interpretes?page=0">
                <img src="/img/cantantes.png" width="375px" alt="Imagen intérpretes">
              </a>
            </div>
            <div class="col-md-4">
              <a href="/interpretes?page=0">
                <img src="/img/cantantesTxt.png" alt="Imagen intérpretes" width="175px">
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <a href="/discos?page=0">
                <img src="/img/discos.png" width="275px" alt="Imagen discos">
              </a>
            </div>
            <div class="col-md-4">
              <a href="/discos?page=0">
                <img src="/img/discosTxt.png" alt="Imagen discos" width="150px">
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <a href="/canciones?page=0">
                <img src="/img/canciones.png" width="250px" alt="Imagen canciones">
              </a>
            </div>
            <div class="col-md-4">
              <a href="/canciones?page=0">
                <img src="/img/cancionesTxt.png" alt="Imagen canciones" width="175px">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/_footer'); %>